.clearfix:after {
  display: block;
  content: "\20";
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/*ie8+*/
.clearfix {
  *zoom: 1;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

.h100{
	height: 100%;
}
.w100{
	width: 100%;
}

.inline-block{
	display: inline-block;
}
